@model QLNS.Models.ChamCong

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ChamCong</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NhanVien)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NhanVien.GioiTinh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayLam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayLam)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GioVaoLam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GioVaoLam)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GioKetThuc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GioKetThuc)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MaChamCong">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
